@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body,
talbe,
th,
td,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
textarea,
blockquote,
span,
* {
    font-family: 'Noto Sans KR', sans-serif;
}

.bg-blue-50 {
    --tw-bg-opacity: 1 !important;
    background-color: rgb(235 245 255 / var(--tw-bg-opacity)) !important;
}

.text-blue-600 {
    --tw-text-opacity: 1 !important;
    color: rgb(28 100 242 / var(--tw-text-opacity)) !important;
}
